body,
h1 {
  font-family: monospace;
  text-align: center;
  margin: 60px auto;
  line-height: 35px;
}

h1 {
  text-align: center;
  font-weight: 900;
  margin: 20px 0 10px;
  font-size: 50px;
}

li {
  font-weight: 400;
  font-size: 20px;
}

ul {
list-style-type: none;
}

.form {
  padding: 20px;
}