body {
  text-align: center;
  margin-top: 90px;
}

h1 {
  font-family: monospace;
  padding: 10px;
  line-height: 35px;
  text-align: center;
  font-weight: 900;
   margin: 20px 0 10px;
  font-size: 60px;
}

li {
  font-weight: 400;
  font-size: 20px;
}

ul {
list-style-type: none;
}

.form {
  padding: 20px;
}

.WeatherContainer {
  margin: 20px;
  font-size: 20px;
  font-family: monospace;
}